
:root {
  scroll-behavior: auto;
}


/* 알림창 만들기 */


#alert {
    background-color: skyblue;
    padding: 20px;
    color: black;
    border-radius: 5px;
    display: none;
}
#alert2 {
    background-color: lightcoral;
    padding: 20px;
    color: black;
    font-size: 40px;
    border-radius: 5px;
    display: none;
}



/* one-way UI 에니메이션 */

/* 1. A상태 -> B상태 */
/* 2. CSS에서 각각 스타일을 class로 시작스타일과 최종스타일 만들기 */
/* 3. 자바스크립트로 최종스타일로 변경하라는 코드 구현 */
/* 4. CSS transition추가 */

/* 모달창 만들기 */
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden; /* 에니메이션 줄때 display:none 대용*/
  opacity: 0;
  transition: all 0.5s; /*모든 css속성이 변할때 1초에 걸쳐서 변경된다 */
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.list-group {
  height: 0;
  overflow: hidden;
  visibility: visible;
  opacity: 0;
  transition: all 0.5s;
}

.show {
  height: 100%;
  visibility: visible;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}
.hello {
    display: block;
}

.colorChange {
    color: green;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(4px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

/* form만들기*/

.main-bg {
    margin-top: 10px;
    padding: 100px 20px;
    background-color: #E9F8F9;
    border: 1px solid;
}

/* 캐러셀 만들기  */

.slide-container {
  width: 500vw;

  transition: all 1s;
}

.slide-box {
  width: 100vw;
  height: 600px;
  float: left;
}

.slide-box img {
  width: 100%;
  object-fit: contain;

}

.slide-1,.slide-2,.slide-3,.slide-4,.slide-5,.before,.next {
  width: 5rem;
  height: 4rem;
  border: 3px solid tomato;
  font-size: 30px;
  background-color: skyblue;
  border-radius: 5px;
  display: inline-block;
}

/* 스크롤 이벤트 만들기 */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
   font-size: 40px; /*스크롤 내리기 전 제목 사이즈 */
   transition: all 1s;
}

.line {
  position: fixed;
  z-index: 5;
  background-color: black;
  height: 10px;
}
.per {
  width: 10px;
  height: 10px;
  background-color: yellow;
}